.container {
  margin-bottom: 1rem;
}

.container > p {
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  margin-bottom: 1rem;
}

.uploadContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--black);
}

.uploadContainer > h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  margin-top: 1rem;
}

.uploadContainer > input {
  display: none;
}

.uploadContainer > h4 > label {
  text-decoration: underline;
  color: var(--yellow);
}

.uploadContainer > p,
.uploaded > h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 1rem;
}

.uploaded {
  margin-top: 1rem;
}

.uploaded > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid var(--black);
  overflow: hidden;
  border-radius: 5px;
}

.uploaded > div > span {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

.uploaded > div > span {
  display: block;
}

.uploaded > div > svg {
  flex-shrink: 0;
}

.previewImage {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.previewImage > img {
  max-width: 100%;
  height: 300px;
  border-radius: 5px;
  margin-inline: auto;
}
