.container {
  padding: 2rem 1rem;
}

.container > form {
  width: 800px;
  /* margin-inline: auto; */
}

.buttonSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 3rem;
}

.container > form > h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.container > form > h4:not(.container > form > h4:first-child) {
  margin-block: 3rem 1.5rem;
}

.container > form > h4:first-child {
  margin-block: 1rem 1.5rem;
}

.createBlog {
  margin-bottom: 1rem;
}

.createBlog > button {
  padding: 0.5rem;
  margin-left: auto;
}

.categories {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.category {
  border: 1px solid var(--black);
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 5px;
}

.category > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category > span:nth-child(1) {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
