.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-block: 2rem;
}

.container > div {
  flex-basis: calc(25% - 20px);
  max-width: calc(25% - 20px);
}

.container > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
